In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,17-Mar-2021,38.40,39.20,39.20,37.55,37.95,37.90,38.48,80160,30.85,737,50456,62.94
1,21STCENMGM,EQ,17-Mar-2021,13.50,13.75,13.75,13.75,13.75,13.75,13.75,1338,0.18,8,1338,100
2,3IINFOTECH,EQ,17-Mar-2021,8.45,8.20,8.40,8.05,8.05,8.05,8.11,22283355,1807.20,22040,9138339,41.01
3,3MINDIA,EQ,17-Mar-2021,28029.30,28000.00,28263.15,27600.00,27900.10,27961.85,27935.45,4168,1164.35,2370,2485,59.62
4,3PLAND,EQ,17-Mar-2021,9.20,10.00,10.00,8.70,8.80,9.10,9.51,20058,1.91,109,12880,64.21

In [6]:
df['SYMBOL']

0        20MICRONS
1       21STCENMGM
2       3IINFOTECH
3          3MINDIA
4           3PLAND
           ...
2015     ZODJRDMKJ
2016          ZOTA
2017         ZUARI
2018     ZUARIGLOB
2019     ZYDUSWELL
Name: SYMBOL, Length: 2020, dtype: object

In [8]:
print(df['LOW_PRICE'].dtype)

float64